.font_title{
    font-family: 方正姚体;
    font-size: 23px;
    margin-top: 6px;
    color: white;
}

.enough-height {
    min-height: 780px;
    height: 100%;
}

.service-title {
    font-family: "Microsoft YaHei";
    font-size: 16px;
}

.profile-info{
    background: transparent;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 15px;
}

.profile-info .profile-image img {
    height: 65px;
    width: 65px;
    float: left;
    top: 5px;
    left: 5px;
    position: relative;
    background-color: #777777;
}

.profile-info .profile-details h3 {
    text-align: center;
}
.profile-info .profile-details h3 a {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: rgba(234, 238, 243, 1.0);
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
}

.profile-info .profile-details .profile-title {
    color: rgba(174, 178, 183, 1.0);
    text-align: center;
}
.profile-info .profile-details .profile-status {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
}


#main-menu-wrapper {
    padding-top: 0px;
    overflow: hidden;
    position: relative;
}

#main-menu-wrapper .fa {
    font-size: 14px;
}

#main-menu-wrapper ul {
    padding: 0px;
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
}
#main-menu-wrapper ul.wraplist {
    padding-bottom: 0px;
}
#main-menu-wrapper li ul.sub-menu {
    padding-left: 45px;
}
#main-menu-wrapper li ul.sub-menu ul.sub-menu {
    padding-left: 20px;
}
#main-menu-wrapper li ul.sub-menu {
    display: none;
    list-style-type: none;
    font-size: 14px;
    width: 100%;
}
#main-menu-wrapper li a {
    display: block;
    line-height: 45px;
    min-height: 45px;
    height: auto;
    color: #f1f1f1;
    color: rgba(214, 218, 223, 1.0);
    text-decoration: none;
    padding-left: 30px;
    clear: both;
    cursor:pointer
}
#main-menu-wrapper li .sub-menu a {
    line-height: 36px;
    min-height: 36px;
}
#main-menu-wrapper li .sub-menu a {
    color: rgba(174, 178, 183, 1.0);
    margin-bottom: 2px;
    padding-left: 15px;
    border-left: 3px solid transparent;
}
#main-menu-wrapper li.open .sub-menu a.active, #main-menu-wrapper li.open .sub-menu a:hover, #main-menu-wrapper li .sub-menu a:hover {
    background-color: #212026;
    border-left: 3px solid rgba(31, 181, 172, 1);
}
#main-menu-wrapper li a:hover, #main-menu-wrapper li.open a {
    background-color: rgba(31, 181, 172, 1);
    color: #ffffff;
}
#main-menu-wrapper li a:hover .arrow:before, #main-menu-wrapper li.open a .arrow:before {
    color: rgba(234, 238, 243, 0.9);
}
#main-menu-wrapper li .sub-menu a:hover .arrow:before, #main-menu-wrapper li.open .sub-menu a .arrow:before {
    color: rgba(194, 198, 203, 0.65);
}
#main-menu-wrapper li.open .sub-menu a {
    background-color: transparent;
    color: rgba(174, 178, 183, 1.0);
}
#main-menu-wrapper li a i {
    display: inline-block;
    width: 45px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    top: -2px;
    position: relative;
}
#main-menu-wrapper li a .arrow:before {
    float: right;
    margin-top: 1px;
    margin-right: 20px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
    color: rgba(194, 198, 203, 0.65);
}
#main-menu-wrapper li.open a .arrow.open:before {
    content: "\f107";
}


#main-menu-wrapper li .label{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 3px 7px;
    float: right;
    margin: 15px 15px 0 0;
}

#main-menu-wrapper li .label.nosubmenu{
    margin-right: 41px;
}
.label-orange {
    background-color: rgba(250, 133, 100, 1.0);
}

.label-black{
    background-color: #263238;
}
.label {
    padding: .5em .9em .5em;
    font-size: 75%;
    font-weight: 400;
    color: white;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-shadow: none;
}


.page-title {
    display: inline-block;
    width: 100%;
}

.page-title h1 {
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 400;
    padding: 0;
    text-transform: uppercase;
    font-family: Oswald, Helvetica, Arial, sans-serif;
    color: rgba(118, 118, 118, 1.0);
    margin-bottom: 15px;
}