body {
    background-color: #f1f2f7;
    color: rgba(118, 118, 118, 1.0);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0px !important;
    margin: 0px !important;
    line-height: 23px;
    font-style: normal;
    font-weight: normal;
    min-height: 100%;
}


body.login_page {
    background-color: rgba(116, 77, 144, 1.0)
    /*#744d90*/;
    background-image: url(../imgs/login.jpg);
    background-size:cover;
    background-attachment:fixed;
    height: 100%;
    max-height: 100%;
    min-height: 99%;
    overflow: hidden;
    width: 100%;
}

.login-wrapper {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}


.loginpage h1{
    font-family: 方正小标宋简体;
    text-align: center;
    margin-top: 100px;
    color: #0064cd;
}

.loginpage form {
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 0;
    font-weight: 400;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    background-color: transparent;
}

.loginpage label {
    font-size: 14px;
    line-height: 23px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
}



.loginpage, .loginpage form label, .loginpage form, .loginpage .message {
    color: black;
    /*#ffffff*/;
    font-family: 楷体;
}

.loginpage form .input, .loginpage form input[type=checkbox], .loginpage input[type=text] {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    -o-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    /* text-shadow: 1px 1px 1px rgba(200,200,200,.1); */
    font-weight: 500;
}

.loginpage form .input, .loginpage input[type=text] {
    font-size: 19px;
    width: 100%;
    padding: 9px;
    line-height: 25px;
    margin: 5px 0 15px 0;
}

.loginpage form .input, .loginpage form input[type=checkbox], .loginpage input[type=text] {
    color: rgba(250, 133, 100, 1)
    /*#fa8564*/;
    background: #fbfbfb;
    border:0.5px solid #378888
}

.loginpage form .input, .loginpage form input[type=checkbox], .loginpage input[type=text] {
    background-color: white;
    /*#ffffff*/;
}




.loginpage form .input:hover, .loginpage form input[type=checkbox]:hover, .loginpage input[type=text]:hover, .loginpage form .input:focus, .loginpage form input[type=checkbox]:focus, .loginpage input[type=text]:focus {
    background-color: rgba(255, 255, 255, 0.8)
    /*#ffffff*/;
}


.loginpage form .forgetmenot {
    width: 100%;
    display: block;
    margin: 12px 0 11px 0!important;
    font-weight: 400;
    float: left;
    margin-bottom: 0px;
}

.loginpage form p.submit {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}


.btn.btn-green {
    background: #5eb95e;
    color: #ffffff;
}
.btn.btn-block, .btn-block, .btn-group-block>.btn {
    padding: 11px 23px;
    font-size: 19px;
    line-height: 25px;
}



.btn-orange:hover, .btn-orange:active, .btn-green:focus {
    background: #5eb95e;
    color: #ffffff;
}



